# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.dylib

# Virtual environments
venv/
.env/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor-specific
.vscode/
.idea/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# Sphinx build artifacts
docs/_build/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Logs and misc
*.log
.DS_Store
Thumbs.db

# System-specific
*.bak
*.tmp
